@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
.center {
    text-align: center;
}
.header {
    display: flex;
    justify-content: center;
    margin: 50px 140px;
}
.head-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.843),white), url("../images/Banner\ Image.png");
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.head-banner:hover {
    opacity: 0.9;
}
.head-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head-subtitle {
    font-family: Merriweather;
    font-size: 32px;
    color: white;
    margin-bottom: 16px;
}
.head-title {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: white;
    line-height: 90px;
}
/* section 2 */
.section2-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 120px 400px;
}
.section2 {
    max-width: ;width: 800px;
    max-height: 805px;
}
.section2-head {
    font-size: 88px;
    font-weight: bold;
    font-family: Inter; 
    color: red;
    margin-bottom: 48px;
}
.section2-subtitle {
    margin-bottom: 16px;
    color: red;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.section2-title {
    color: #070211;
    font-size: 48px;
    font-weight: bold;
    font-family: Inter;
    margin-bottom: 48px;
}
.section2-img {
    width: 800px;
    height: 500px;
    background-image: url("../images/New\ Year\ Photo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section2-img:hover {
    opacity: 0.9;
}
.section3-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 140px 120px;
}
.section3 {
    max-width: 1320px;
    max-height: 600px;
    background-image: linear-gradient(to right, black,rgb(255, 255, 255)),url("../images/midnight.png");
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.sec3-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.sec3-title {
    font-family: Merriweather;
    font-size: 64px;
    color: white;
    width: 642px;
    margin-bottom: 24px;
    font-weight: 900;
    margin-left: 126px;
}
.sec3-txt {
    width: 697px;
    font-family: Inter;
    font-size: 18px;
    color: white;
    margin-bottom: 48px;
    margin-left: 126px;
}
.sec3-btn {
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    margin-left: 158px;
}
.right-content > img {
    width: 320px;
    margin: 68px 138px 68px 0px;
}

.sec4-container {
    display: flex;
    justify-content: center;
}
.sec4 {
    max-width: 1320px;
    max-height: 482px; 
    background-image: linear-gradient(rgba(255, 0, 0, 0.1),white);
    border-radius: 15px;
    padding: 100px 385px;
    margin: 0 140px 120px;
}
.sec4-txt-bold {
    color: red;
    font-size: 30px;
    font-weight: 600;
    font-family: Inter;
    line-height: 56px;
}
.sec4-txt {
    color: #070211;
    font-size: 30px;
    font-weight: 600;
    font-family: Inter;
}
.sec4-btn {
    width: 167px;
    height: 56px;
    border-radius: 8px;
    background-color: red;
    color: white;
    border: none;
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 32px;
    margin-top: 48px;
}

/* Section 5 */

.sec5 {
    display: flex;
    justify-content: space-between;
    margin: 0px 140px 120px;
}
.sec5-left {
    margin-top: 120px;
}
.sec5-right {
    margin-top: 120px;
}
.sec5-subtitle {
    color: red;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.sec5-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}
.sec5-txt {
    font-family: Inter;
    font-size: 20px;
    width: 393px;
    color: #070211;
}
.sec5-txt2 {
    font-family: Inter;
    font-size: 20px;
    width: 276px;
    color: #070211;
    margin-bottom: 43px;
}
.sec5-middle > img {
    width: 365px;
}
.sec5-title2 {
    color: red;
    font-family: Inter;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}