@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
.center {
    text-align: center;
}
.header {
    display: flex;
    justify-content: center;
    margin: 50px 140px;
}
.head-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.843),white), url("../images/Banner\ Image.png");
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.head-banner:hover {
    opacity: 0.9;
}
.head-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head-subtitle {
    font-family: Merriweather;
    font-size: 32px;
    color: white;
    margin-bottom: 16px;
}
.head-title {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: white;
    line-height: 90px;
}
/* section 2 */
.section2-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 120px 400px;
}
.section2 {
    max-width: ;width: 800px;
    max-height: 805px;
}
.section2-head {
    font-size: 88px;
    font-weight: bold;
    font-family: Inter; 
    color: red;
    margin-bottom: 48px;
}
.section2-subtitle {
    margin-bottom: 16px;
    color: red;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.section2-title {
    color: #070211;
    font-size: 48px;
    font-weight: bold;
    font-family: Inter;
    margin-bottom: 48px;
}
.section2-img {
    width: 800px;
    height: 500px;
    background-image: url("../images/New\ Year\ Photo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section2-img:hover {
    opacity: 0.9;
}
.section3-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 140px 120px;
}
.section3 {
    max-width: 1320px;
    max-height: 600px;
    background-image: linear-gradient(to right, black,rgb(255, 255, 255)),url("../images/midnight.png");
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.sec3-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.sec3-title {
    font-family: Merriweather;
    font-size: 64px;
    color: white;
    width: 642px;
    margin-bottom: 24px;
    font-weight: 900;
    margin-left: 126px;
}
.sec3-txt {
    width: 697px;
    font-family: Inter;
    font-size: 18px;
    color: white;
    margin-bottom: 48px;
    margin-left: 126px;
}
.sec3-btn {
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    margin-left: 158px;
}
.right-content > img {
    width: 320px;
    margin: 68px 138px 68px 0px;
}

.sec4-container {
    display: flex;
    justify-content: center;
}
.sec4 {
    max-width: 1320px;
    max-height: 482px; 
    background-image: linear-gradient(rgba(255, 0, 0, 0.1),white);
    border-radius: 15px;
    padding: 100px 385px;
    margin: 0 140px 120px;
}
.sec4-txt-bold {
    color: red;
    font-size: 30px;
    font-weight: 600;
    font-family: Inter;
    line-height: 56px;
}
.sec4-txt {
    color: #070211;
    font-size: 30px;
    font-weight: 600;
    font-family: Inter;
}
.sec4-btn {
    width: 167px;
    height: 56px;
    border-radius: 8px;
    background-color: red;
    color: white;
    border: none;
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 32px;
    margin-top: 48px;
}

/* Section 5 */
.sec5-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 140px 120px;
}
.sec5 {
    max-width: 1320px;
    max-height: 463px;
    display: flex;
    justify-content: space-between;
    margin: 0px 140px 120px;
    margin: 0 auto;
}
.sec5-left {
    margin-top: 120px;
}
.sec5-right {
    margin-top: 120px;
}
.sec5-subtitle {
    color: red;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.sec5-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}
.sec5-txt {
    font-family: Inter;
    font-size: 20px;
    width: 393px;
    color: #070211;
}
.sec5-txt2 {
    font-family: Inter;
    font-size: 20px;
    width: 276px;
    color: #070211;
    margin-bottom: 43px;
}

.sec5-img {
    width: 365px;
    padding: 30px;
    border-radius: 50%;
    border: 15px solid rgb(255, 0, 0);
}
.sec5-title2 {
    color: red;
    font-family: Inter;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
/* section 6 */
.sec6 {
    margin-bottom: 120px;
}
.sec6-txt-container { 
    width: 1068px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.sec6-subtitle {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: #070211;
}
.sec6-title {
    color: #FF0000;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 28px;
}
.sec6-title-black {
    color: #070211;
}
.sec6-txt {
    font-size: 20px;
    font-weight: 500;
    font-family: Inter;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 64px;
}
.sec6-img-container {
    width: 1320px;
    height: 662px;
    margin: 0 auto;
}
.sec6-bg-bottom {
    height: 229px;
    width: 1320px; 
    background-image: url("../images/Rectangle\ 2.png");
    position: relative;
    top: 433px; 
}
.sec6-img-2 {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    bottom: 200px;
}
.sec6-img2 {
    margin-top: 50px;
    margin-left: 50px;
}
/* section 7 */
.sec7-container {
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.sec7-subtitle {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: red;
    margin-bottom: 16px;
}
.sec7-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.sec7-txt {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    width: 896px;
    margin-bottom: 48px; 
}
.sec7-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    row-gap: 24px;
    column-gap: 24px;
}
.sec7-img {
    width: 424px;
    height: 450px;
    cursor: pointer;
}
.sec7-img:hover {
    opacity: 0.8;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.362);
}
/* Section 8 */
.sec8 {
    max-width: 1320px;
    max-height: 616px;
    margin: 0 auto;
    border-radius: 16px;
    margin-bottom: 120px;
    background-color: rgba(255, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec8-img {
    margin-top: 80px;
    margin-bottom: 40px;
}
.sec8-title {
    font-family: Merriweather;
    font-weight: 900;
    font-size: 48px;
    color: #070211;
    margin-bottom: 22px;
}
.sec8-subtitle {
    font-size: 20px;
    font-family: Inter;
    width: 896px;
    margin-bottom: 48px;
    text-align: center;
    color: rgba(7, 2, 17, 0.6);
}
.sec8-search-bar {
    margin-bottom: 80px;
    width: 648px;
    height: 72px;
}
.search-bar {
    background-color: white;
    border-radius: 50px;
    width: 648px;
    height: 72px;
    font-family: Inter;
    font-size: 18px;
    color: rgba(7, 2, 17, 0.3);
    padding: 25px 30px;
    border: none;
}
input:focus{
    outline: none;
    }
.subscribe {
    background-color: red;
    width: 210px;
    height: 72px;
    padding: 24px 56px;
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    border-radius: 0px 50px 50px 0px;
    border: none;
    position: relative;     
    left: 438px;
    bottom: 72px;
    cursor: pointer;
}
.subscribe:hover {
    opacity: 0.8;
}

/* Footer */
.footer-container {
    max-width: 1600px;
    max-height: 609px;
    background-color: #070211;
    padding: 120px 140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;s
}
.footer-txt-top {
    max-width: 1185px;
    max-height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-txt {
    color: white;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
}
.footer-add {
    width: 375px;
    height: 80px;
}
hr {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1320px;
    background: #000;color: rgba(255, 255, 255, 0.15);
}
.footer-icons {
    width: 328px;
    height: 64px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.footer-icons img {
    margin-right: 24px;
    cursor: pointer;
}
.footer-icons img:hover {
    border-radius: 50%;
    background-color: white;
    background-blend-mode: overlay;
    opacity: 0.8;
}
.footer-txt-bottom {
    margin: 0 auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
}
.footer-txt-top-right {
    line-height: 38px;
}